* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
  
form {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

input.addMore {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 130px;
}

  
.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

