* {
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}
  
form {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

h3 {
    margin-top: 40px;
}

.general-search > input {
    display: block;
    padding-left: 5px;
}

input.incIngred {
    display: block;
    padding-left: 5px;
}

input.excIngred {
    display: block;
    padding-left: 5px;
}

button.addMore, button.addExc {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 131px;
}

/* input[type="checkbox"] {
    display: inline;
    margin-bottom: 1em;
} */


/* submit input button */
.ingredients {
    width: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #f75151;
    color: white;
}
  
.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

